<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    verbose="false">

    <testsuites>
        <testsuite name="Nbobtc Bitcoind Test Suite">
            <directory>test/Nbobtc/Tests/Component/Bitcoind</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src/Nbobtc/Component/Bitcoind</directory>
            <exclude>
                <directory>test/</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <!--<log type="coverage-html" target="docs/code-coverage" charset="UTF-8" />-->
    </logging>
</phpunit>
