<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    verbose="true"
>

    <testsuites>
        <testsuite name="Bitcoind Test Suite">
            <directory>./Tests/Nbobtc/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/Nbobtc/</directory>
            <exclude>
                <directory>./Tests/</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
